#hovered-note-menu {
  position: absolute;
  top: 0;
  left: 0;
}

#search-highlighter {
  $shadowOffset: 5px;
  $shadowBlurRadius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 100;
  margin-top: $shadowOffset;
  margin-left: $shadowOffset;
  box-shadow: (-$shadowOffset) (-$shadowOffset) ($shadowBlurRadius) 0px
    var(--bs-red);
  border-radius: 0.25rem;
  width: 100px;
}

#move-highlighter {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--bs-red);
  background-color: transparent;
  width: 100px;
  opacity: .9;
  filter: blur(1px);
}

.editor {
  flex: auto;
  position: relative;
}

.editor-input {
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: .5rem !important;

  /* font */
  .strikethrough {
    text-decoration: line-through;
  }

  .subscript {
    vertical-align: sub;
    font-size: smaller;
  }

  .superscript {
    vertical-align: super;
    font-size: smaller;
  }

  .underline {
    text-decoration: underline;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.debug-timetravel-button {
  display: none;
}
