.brandLink {
  display: inline-flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  color: inherit;
  text-decoration: none;
}

.brandIcon {
  width: 0.74em;
  height: 0.74em;
  display: block;
  flex-shrink: 0;
  background-color: currentColor;
  mask-image: url('../icons/remdo.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-image: url('../icons/remdo.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.brandLink:hover .brandIcon,
.brandLink:focus-visible .brandIcon {
  color: var(--mantine-color-gray-0);
}
