body {
  margin: 0;
  padding: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.float-left {
  float: left;
}

.card {
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card-header {
  background-color: #f8f9fa;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  color: #777;
}

