{
  admin off
}

:{\$APP_PORT} {
  handle /doc/* {
    reverse_proxy 127.0.0.1:{env.YSWEET_PORT_INTERNAL} {
      header_up X-Forwarded-Proto {scheme}
    }
  }

  handle_path /health {
    respond 200
  }

  root * /srv/remdo
  try_files {path} {path}/ /index.html
  file_server
}
