.site-links .site-repository {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}
@media (max-width: 47.99em) {
  .site-links .site-repository {
    display: none;
  }
}
