name: Lint
permissions:
  contents: read

on: push

jobs:
  typecheck:
    permissions:
      contents: read
      actions: write
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm
      - run: pnpm run vendor:lexical
      - run: pnpm run lint && pnpm run lint:lexical && pnpm run deps:list
