name: Lint

on: [push, pull_request]

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm
      - run: pnpm run lint && pnpm run deps:list
