name: Unit Tests

on: push

jobs:
  unit-tests:
    name: Unit Tests
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-pnpm
      - run: pnpm run test:unit
